
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <title>Feria Virtual Maipo Grande</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .container {
            text-align: center;
            margin-top: 100px;
        }

        h1 {
            color: #008000; /* Texto en verde oscuro */
        }
    </style>
</head>
<body>

    <div class="container">
        <h1>Feria Virtual Maipo Grande</h1>
    </div>
</body>
</html>